@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'Concert One', cursive; */
    font-family: 'Itim', cursive;
    letter-spacing: 1.2px;
   
}
body{
    width: 100%;
    /* height: 100vh; */
}
.header-wrapper{
    margin-top: -35px;
    background-image: url(/img/blueBG.png);
    width: 100%;
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover; 
}
.container{
    width: 90%;
    margin: 35px auto;
    /* border: 1px solid black; */

}
.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-left{
    display: flex;
    justify-content: left;
    width: 50%;
}

.logo{
    width: 20%;
    /* border: 1px solid black; */
}
.logo img{
    width: 90%;
    height: 70px;
}
.searchbar{
    width: 60%;
    display: flex;
    align-items: center;
    /* border: 1px solid black; */

}
.searchbar input{
    border: none;
    width: 100%;
    height: 35px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    
}
.searchbar ::placeholder{
    padding-left: 20px;
}
.searchbar i{
    background-color: #0066cc;
    color: white;
    padding: 10px 15px 10px 10px;
    border: none;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
}

.nav-right{
    display: flex;
    width: 50%;
    /* border: 1px solid black; */
    justify-content: space-between;
    align-items: center;
   
}

.nav-links{
    width: 75%;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid green; */
}
.nav-items{
    color: white;
    text-transform: uppercase;
}
.get-start{
    width: 25%;
    /* border: 1px solid black; */
    text-align: right;
}
.get-start input[type=submit]{
    color: white;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: bold;
}

.header-content{
    text-align: center;
    margin: 50px auto;
    line-height: 2.2;
    color: white;
}
.header-content p{
    margin-bottom: 10px;
}
.header-content input[type=submit]{
    color: white;
    background-color: #0066cc;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
}
.cards{
    width: 100%;
    display: flex; 
    justify-content: space-around;
    flex-wrap: nowrap;
    /* align-items: center; */
    
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 25%;
    border: none;
    border-radius: 20px;
}
.card > img{
    width: 100%;
    /* border: 2px solid red; */
    height: 250px;
    border: none;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px; 
    object-fit: cover;  
}
.content-info{
    margin-top: 18px;
    margin-left: 10px;

}
.content-info>h2>span>img{
    margin-left: 5px;
    margin-top: 2px;
    height:20px; 
    width: 20px;
}
.content-links{
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
     /* border: 1px solid black; */
      
}
.content-links input[type=submit]{
    color: white;
    background-color: #0066cc;
    border: none;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: bold;
    margin-right: 5px;
    margin-bottom: 15px;
}
.cards> div:nth-child(1){
    opacity: 0.5;
}
.cards> div:nth-child(3){
    opacity: 0.5;
}
.dot-wrapper{
    text-align: center;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
/* latest episode */
.latest-episode{
    width: 100%;
}
.title{
    width: 25%;
    background-color: #f0f8ff;
    text-align: center;
    border: none;
    border-radius: 20px;
    padding: 4px;
    margin: 55px 0px;
}
.episode-group{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.episode{
    width: 47%;
    border: 1px solid #00FA9A;
    border-radius: 15px;
    display: flex;
    padding: 10px;
}
.epi-header{
    display: flex;
    justify-content: left;
    gap: 15px;
    margin-bottom: 4px;
}
.epi-header i{
    color: #00FA9A;
    margin-right: 5px;
}
.epi-total p:nth-child(2){
    margin-left: 5px;
    background-color: #0066cc;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 3px;
    font-size: x-small;
}
.epi-title{
    margin-bottom: 8px;
    font-weight: bold;
    color: #00FA9A;
}
.duration{
    display: flex;
}
.epi-total{
    display: flex;
}
.epi-cover{
    width: 20%;
    /* border: 1px solid black; */
}
.epi-cover img{
    width: 100%;
    height: 120px;
    border: none;
    border-radius: 20px;
}
.epi-cover input[type=submit]{
    color: white;
    background-color: #0066cc;
    border: none;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: bold;
    margin-right: 5px;
    margin-bottom: 15px;
    margin-top: 8px;
}
.epi-content{
    width: 77%;
    /* border: 1px solid black; */
    padding-left: 10px;
    /* display: flex; */
    /* justify-content: space-between; */

}
.artist{
    width: 100%;
    display: flex;
    
}
.artist-detail{
    display: flex;
}

.artist-img img{
    width: 100%;
    height: 60px;
    border: none;
    border-radius: 50px;
    
}
.artist-detail {
    color: gray;
}
.artist-detail> span> img{
    margin-left: 5px;
    margin-top: 2px;
    height:20px; 
    width: 20px;
}
.artist-info{
    width: 70%;
    margin-left: 15px;
}
.album-details{
    margin-bottom: 10px;
    color: gray;
}

.activity{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    color: grey;
}

.activity i {
    margin-right: 5px;
    color: #00FA9A;
}
.listening{
    display: flex;
}
.likes{
    display: flex;
}
.comment{
    display: flex;
}
.downloads{
    display: flex;
}
.epi-social-link{
    width: 5%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.epi-social-link i{
    background-color: black;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 6px;
}

/* topic */
.topic-wrapper{
    width: 100%;
}

.topic-content{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.topic{
    width: 22%;
}
.topic img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border: none;
    border-radius: 20px;
    margin-bottom: 8px;
}
.badge{
    background-color: #0066cc;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    
}
.topic-title{
    margin-bottom: 15px;
    font-weight: bold;
    color: #00FA9A;
}

.topic-main-title{
    width: 15%;
    background-color: #f0f8ff;
    text-align: center;
    border: none;
    border-radius: 20px;
    padding: 5px;
    margin: 55px 0px;
}

/* Trending topics */
.topic-cards-group{
    width: 100%;
}
.trending-topic-cards{
    display: flex;
    justify-content: space-between;
}
.topic-card{
    width: 30%;
    border: 1px solid black;
    border: none;
    border-radius: 20px;
    padding: 30px;
    background-color: #f0f8ff;
}
.trending-topic-cover img{
    width: 100%;
    /* border: 2px solid red; */
    height: 200px;
    border: none;
    border-radius: 20px;
    object-fit: cover; 
    margin-bottom: 15px;
}
.trending-topic-details{
    width: 100%;
    /* border: 1px solid black; */
}

.trending-topic-title{
    width: 25%;
    background-color: #f0f8ff;
    text-align: center;
    border: none;
    border-radius: 20px;
    padding: 5px;
    margin: 55px 0px;
}
/* Footer */
.footer{
    background-image: url(img/footer.png);
    width: 100%;
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;

}
.footer-container{
    width: 90%;
    margin: auto;
    /* border: 1px solid black; */
}
.contact{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.contact-form{
    width: 50%;
    
    margin-top: 20px;
    text-align: center;
    
}
fieldset {
    background-color: transparent;
    width: 80%;
    height: 200px;
    border-radius: 15px;
    color: white;
  }
  
legend {
    background-color: white;
    color: #00FA9A;
    padding: 5px 10px;
    text-align:center;
    border-radius:20px;
}
.contact-inputs{
    margin: 40px auto;
    text-align: center;
}
.contact-form input{
    width: 80%;
   

}
.contact input[type=email]{
    padding: 10px;
    border: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}
.contact input[type=submit]{
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #0066cc;
    color: white;
    border: none;
    /* padding: 5px; */
}
.contact-info{
    width: 17%;
    /* border: 1px solid black; */
    margin-top: 30px;
}
.contact-item{
    display: flex;
}
.contact-info h2{
    margin-bottom: 20px;
    
}
.contact-info p{
    margin-bottom: 10px;
}
.contact-icons{
    width: 25%;
    margin-top: 30px;

    /* border: 1px solid black; */
    
}
.download-apps{
    width: 100%;
    /* height: 100px; */
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.download-apps img{
    width: 30%;
    height: 40px;
}
.download-apps img:nth-child(2){
    width: 30%;
    height: 50px;
}
.social-icons{
    margin-top: 15px;
}
.social-icons i{
    margin-top: 10px;
    margin-right: 10px;
    font-size: 20px;
    background-color: #0066cc;
    border: none;
    border-radius: 50px;
    color: white;
    padding: 8px;
    text-align: center;
}
.footer-content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-logo{
    width: 10%;
    /* border: 1px solid black; */
}
.footer-logo img{
    width: 100%;

}
.footer-nav-links{
    width: 50%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-around;
}
.footer-nav-links p{
    color: white;
}
.footer-copyright{
    width: 30%;
    /* border: 1px solid black; */
    color: white;

}
.footer-copyright h4:nth-child(2){
    margin-top: 25px;
}



























































  



























